.button {
  margin-top: 1.6rem;

  background-color: #323232;
  color: #fff;
  border: none;
  padding: 0.8rem 2.6rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #525252;
}

@media only screen and (max-width: 750px) {
  .button {
    width: 20rem;
  }
}
